<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop kim khí</title>
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <div id="header">
        <div class="translate">
            <div>Welcome: Shop kim khí Đình Quyết</div>
            <div class="languages">
                Language:
                <a href="#"><img src="./assets/img/English.gif" title="English" alt="English"></a> ∷&nbsp;
                <a href="#"><img src="./assets/img/Flag_of_Vietnam-Animated.gif" title="Vietnam" alt="Vietnam"></a>
            </div>
        </div>
        <div class="navbar">
            <div class="nav-right">

            </div>
            <div class="nav-left">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li>
                        <a href="#">Products</a>
                        <ul class="subnav">
                            <li><a href="#">Copper braided wire</a></li>
                            <li><a href="#">Copper stranded wire</a></li>
                            <li><a href="#">Laminated foils connector</a></li>
                            <li><a href="#">Copper Busbar</a></li>
                            <li><a href="#">Bimetallic lugs</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">News</a>
                        <ul class="subnav">
                            <li><a href="#">Company new</a></li>
                            <li><a href="#">Industry new</a></li>
                            <li><a href="#">Science and technology</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Download</a>
                        <ul class="subnav">
                            <li><a href="#">Help document</a></li>
                            <li><a href="#">File download</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Photo</a>
                        <ul class="subnav">
                            <li><a href="#">Staff photo</a></li>
                            <li><a href="#">Customer Case</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>